<section>
  <form>
    <input
      type="text"
      placeholder="Filter by city"
      #filter
      (keyup)="filterResults(filter.value)"
    />
    <button class="primary" type="button" (click)="filterResults(filter.value)">
      Search
    </button>
  </form>
</section>
<section class="results">
  <ng-container *ngIf="filteredLocationList.length; else noResults">
    <app-housing-location
      *ngFor="let housingLocation of filteredLocationList.slice(0, 9)"
      [housingLocation]="housingLocation"
    >
    </app-housing-location>
  </ng-container>
  <ng-template #noResults>
    <p>No locations found.</p>
  </ng-template>
</section>
